* {font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#video {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.overlay {display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto%;
    height: 150px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* <-- change this line */
    align-items: center;           /* <-- change this line */
    width: 500px;
    margin-right: 50px;
    height: 80px;
    border-radius: 15px;
    color: white;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

li {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-right: 10px;
}


main {height: 690px;
    color: white;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}


footer {
    display: flex;
    align-items: center;
    color: white;
    width: 100px;
    height: 90px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.socialicon {
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 12px;
}

.socialicon:hover {
    color: gray;
}