* {font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#video {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 60px;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.glass-right-nav {
    display: flex;
    width: 800px;
    height: 90px;
    flex-direction: row;
    background-color: #00ff00;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 15px;
}

.link {
    list-style: none;
    color: white;
    font-size: 40px;
    text-decoration: none;
}


main {height: 690px;
    color: white;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 250px;
    height: 50px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 15px 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.footertext {
    font-size: 13px;
    text-align: center;
    color: white;
    margin: 0;
}